
.main {
    margin: auto;
    margin-top: 10%;
    height: 500px;
  width: 25%;
  border: 3px solid black;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  background-color:#151616;
}


.center_div{
    text-align: center;
    margin-top: -20px;
}

.todo_style{
    /* 
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    display: flex;
    padding-top: 8px;
    color:rgba(231, 229, 229, 0.8);

}

h1{
    text-decoration: underline;
    color:rgba(231, 229, 229, 0.8);
    margin-bottom: 30px;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

ul{
    list-style-type: none;
    display: list-item;
    float: left;
}

.newbtn{
    width: 30px;
    height: 45px;
    background-color: #16a085 !important;
    color:white !important;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
    border-radius: 50% !important;
}

.newbtn:hover {
    color:#16a085 !important;
    background: white !important;
}

input{
    text-align: center;
    height: 30px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline:none;
    margin-right: 20px;
    color:rgba(231, 229, 229, 0.8);
}

